<div class="service-details">
  <div class="detail"><span class="key">Service Name:</span> {{webServiceName}}</div>
  <div class="detail"><span class="key">Request Size:</span> {{requestSize}}</div>
  <div class="detail"><span class="key">Response Size:</span> {{responseSize}}</div>
  <div class="detail"><span class="key">Response Time:</span> {{responseTimeMiliseconds}} ms ({{responseTimeSeconds}} s)</div>
  <div class="detail"><span class="key">Started Date Time:</span> {{startedDateTime}}</div>
  <div class="detail"><span class="key">Response Status:</span> {{status}}</div>
</div>